<div class="table">
  <div *ngFor="let column of columns" class="table-header" [ngStyle]="column.style">
    {{ column.header }}
  </div>
  <div class="table-body">
    <ng-container *ngFor="let item of data">
      <div class="table-body-items">
        <ng-container *ngFor="let column of columns">
          <div class="table-body-item" *ngIf="column.dataType === 'text'" [ngStyle]="column.style">{{ item[column.field] }}</div>
          <div class="table-body-item" *ngIf="column.dataType === 'currency'" [ngStyle]="column.style">{{ item[column.field] | currency }}</div>
          <div class="table-body-item" *ngIf="column.dataType === 'number'" [ngStyle]="column.style">{{ item[column.field] | number }}</div>
          <div class="table-body-item" *ngIf="column.dataType === 'measurement'" [ngStyle]="column.style">
            <ng-container *ngIf="item.measurement === 'Litro'">
              {{ item[column.field] | numberLiter }}
            </ng-container>
            <ng-container *ngIf="item.measurement === 'Quilograma'">
              {{ item[column.field] | numberKilogram }}
            </ng-container>
            <ng-container *ngIf="item.measurement === 'Unidade'">
              {{ item[column.field] | numberUnity }}
            </ng-container>
          </div>
          <div class="table-body-item" *ngIf="column.dataType === 'boolean'" [ngStyle]="column.style">{{ item[column.field] ? 'Sim' : 'Não' }}</div>
          <div class="table-body-item" *ngIf="column.dataType === 'date'" [ngStyle]="column.style">{{ item[column.field] | date }}</div>
          <div class="table-body-buttom" *ngIf="column.dataType === 'buttom'" [ngStyle]="column.style">
            <button pButton type="button" [routerLink]="['/adicionar']" icon="pi pi-plus" class="p-button-sm"></button>
            <button pButton type="button" (click)="goToPrductEdition(item)" icon="pi pi-pencil" class="p-button-sm p-button-warning"></button>
            <button pButton type="button" (click)="deleteConfirmation()" icon="pi pi-trash" class="p-button-sm p-button-danger"></button>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<p-confirmDialog
  header="Confirmation"
  acceptLabel="Deletar"
  acceptIcon=""
  acceptButtonStyleClass="p-button-danger p-button-sm"
  rejectLabel="Cancelar"
  rejectIcon=""
  rejectButtonStyleClass="p-button-text p-button-secondary p-button-sm"
></p-confirmDialog>
